<div class="btn-group">
	<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:void();" style="color:#000;"><i class="fa fa-2x fa-clock-o"></i></a>
	<ul class="dropdown-menu">
		<li>
			<a href="" ng-class="timeType==0?'timeselect':''" ng-click="setTimeType(0)">近4小时</a>
		</li>
		<li>
			<a href="" ng-class="timeType==1?'timeselect':''" ng-click="setTimeType(1)">近24小时</a>
		</li>
		<li>
			<a href="" ng-class="timeType==2?'timeselect':''" ng-click="setTimeType(2)">近7天</a>
		</li>
		<li>
			<a href="" ng-class="timeType==3?'timeselect':''" ng-click="setTimeType(3)">近30天</a>
		</li>
		<li>
			<a href="" ng-class="timeType==4?'timeselect':''" ng-click="setTimeType(4)">近90天</a>
		</li>
	</ul>
</div>