<div class="page-footer" data-ng-init="getFooterInfo()">
	<div class="row">
		<div style="position:absolute;width:99%;top:10px;">
			<div class="pull-center">版权所有 © 2016 三小烟酒店</div>
		</div>
		<div style="position:absolute;left:0px;top:10px;">
			<div >&nbsp;&nbsp;&nbsp;&nbsp;登录用户:&nbsp;{{loginDisplayname}}&nbsp;
			<a ng-click="selfManage()"  style="padding-left:0px;">
				<span class="widget-icon"><i class="fa fa-gear"></i>  </span>
			</a>
			</div>
		</div>
		<div style="position:absolute;right:0px;top:10px;">
			<!-- <div {{productversion}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="showAboutDialog()"  style="padding-right:20px; color:#337ab7;">关于</a></div> -->
		</div>
	</div>
</div>
