<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bright.amp.account.model.TaccountType">
    <resultMap id="TaccountType" type="TaccountType">
        <id column="TYPEID" property="typeid" />
        <result column="TYPENAME" property="typename" />
        <result column="CAPITALUSE" property="capitaluse" />
        <result column="INCOMEUSE" property="incomeuse" />
        <result column="SPENDUSE" property="spenduse" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="TaccountType.columns">
        TYPEID,
        TYPENAME,
        CAPITALUSE,
        INCOMEUSE,
        SPENDUSE,
        DESCRIPTION
    </sql>

  <insert id="insert" parameterType="TaccountType">
      INSERT INTO T_ACCOUNTTYPE
      <trim prefix="(" suffix=")" suffixOverrides="," >
   			TYPEID,
        	TYPENAME,
	        CAPITALUSE,
	        INCOMEUSE,
	        SPENDUSE,
	        DESCRIPTION
      </trim>
      Values
      <trim prefix="(" suffix=")" suffixOverrides="," >      
   			#{typeid}, 
   			#{typename}, 
   			#{capitaluse}, 
   			#{incomeuse}, 
   			#{spenduse}, 
   			#{description}, 
      </trim>      
	  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="typeid" >
			      SELECT LAST_INSERT_ID();
	  </selectKey>  
  </insert>  
    
    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE from T_ACCOUNTTYPE
        WHERE TYPEID=#{typeid}
    </delete>
    
  <select id="getById" resultType="TaccountType"  parameterType="java.lang.Integer">
		SELECT <include refid="TaccountType.columns" />
	    <![CDATA[
		    FROM T_ACCOUNTTYPE 
	        WHERE 
		        TYPEID = #{gid} 
	    ]]>
	</select>
	
	<sql id="TaccountType.findPage.where">
		<where>	      			
	       <if test="@Ognl@isNotEmpty(typeid)">
				AND TYPEID = #{typeid}
			</if>
	       <if test="@Ognl@isNotEmpty(typename)">
				AND TYPENAME = #{typename}
			</if>
	       <if test="@Ognl@isNotEmpty(capitaluse)">
				AND CAPITALUSE = #{capitaluse}
			</if>
	       <if test="@Ognl@isNotEmpty(incomeuse)">
				AND INCOMEUSE = #{incomeuse}
			</if>
	       <if test="@Ognl@isNotEmpty(spenduse)">
				AND SPENDUSE = #{spenduse}
			</if>
		</where>
	</sql>
	
  <select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
      SELECT count(*) FROM T_ACCOUNTTYPE
			<include refid="TaccountType.findPage.where"/>    
  </select>
  
  <select id="find" resultType="TaccountType"  parameterType="java.util.HashMap">
    	SELECT <include refid="TaccountType.columns" />
	    FROM  T_ACCOUNTTYPE
		<include refid="TaccountType.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>		
  </select>		

  <select id="findAll" resultType="TaccountType"  parameterType="java.util.HashMap">
    	SELECT <include refid="TaccountType.columns" />
	    FROM  T_ACCOUNTTYPE
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>		
  </select>		
        
</mapper>